.App-header {
  border-bottom: 1px solid #bbb9b9;
  position: relative;
  left: 150px;
}

.App-header a {
  text-decoration: none;
}

section.all-notes {
  position: absolute;
  left: 150px;
}

section.all-notes li {
  list-style: none;
}